input[id$="_5_x"]:not(:checked) ~ .playing-field #cell_5::before {
    content: "O";
    color: #8c8d45;
}

input[id$=_1_x]:checked ~ 
input[id$=_4_x]:checked ~ 
input[id$=_7_x]:checked ~ .game-over #message::before, 
input[id$=_2_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_8_x]:checked ~ .game-over #message::before,
input[id$=_3_x]:checked ~ 
input[id$=_6_x]:checked ~ 
input[id$=_9_x]:checked ~ .game-over #message::before, 
input[id$=_1_x]:checked ~ 
input[id$=_2_x]:checked ~ 
input[id$=_3_x]:checked ~ .game-over #message::before, 
input[id$=_4_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_6_x]:checked ~ .game-over #message::before, 
input[id$=_7_x]:checked ~ 
input[id$=_8_x]:checked ~ 
input[id$=_9_x]:checked ~ .game-over #message::before, 
input[id$=_3_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_7_x]:checked ~ .game-over #message::before,
input[id$=_1_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_9_x]:checked ~ .game-over #message::before {
    content: "Player wins";
}

input[id$=_1_o]:checked ~ 
input[id$=_4_o]:checked ~ 
input[id$=_7_o]:checked ~ .game-over #message::before, 
input[id$=_2_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_8_o]:checked ~ .game-over #message::before, 
input[id$=_3_o]:checked ~ 
input[id$=_6_o]:checked ~ 
input[id$=_9_o]:checked ~ .game-over #message::before, 
input[id$=_1_o]:checked ~ 
input[id$=_2_o]:checked ~ 
input[id$=_3_o]:checked ~ .game-over #message::before, 
input[id$=_4_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_6_o]:checked ~ .game-over #message::before, 
input[id$=_7_o]:checked ~ 
input[id$=_8_o]:checked ~ 
input[id$=_9_o]:checked ~ .game-over #message::before, 
input[id$=_3_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_7_o]:checked ~ .game-over #message::before,
input[id$=_1_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_9_o]:checked ~ .game-over #message::before {
    content: "Computer wins";
}