/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */

* {
    margin: 0; 
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

input[type="radio"] {
    display: none;
}

.playing-field {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    width: 300px;
    height: 300px;
    margin: auto;

    font-size: 60pt;

    background-color: #a8a8a8;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;

    height: 100%;
}

div[id^="cell"] {
    position: relative;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 96px;
    height: 96px;

    background-color: #fff;
}

label {
    position: absolute;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    width: 100%;
    height: 100%;

    color: #a8a8a8;

    cursor: pointer;
}

label[for$="_x"]:hover::before {
    content: "X";
}

label[for$="_o"]:hover::before {
    content: "O";
}

input[id$="_1_x"]:checked ~ .playing-field #cell_1::before,
input[id$="_1_x"]:checked ~ .playing-field #cell_1::before,
input[id$="_2_x"]:checked ~ .playing-field #cell_2::before,
input[id$="_3_x"]:checked ~ .playing-field #cell_3::before,
input[id$="_4_x"]:checked ~ .playing-field #cell_4::before,
input[id$="_5_x"]:checked ~ .playing-field #cell_5::before,
input[id$="_6_x"]:checked ~ .playing-field #cell_6::before,
input[id$="_7_x"]:checked ~ .playing-field #cell_7::before,
input[id$="_8_x"]:checked ~ .playing-field #cell_8::before,
input[id$="_9_x"]:checked ~ .playing-field #cell_9::before {
    content: "X";
    color: #8b5a5a;
}

input[id$="_1_o"]:checked ~ .playing-field #cell_1::before,
input[id$="_2_o"]:checked ~ .playing-field #cell_2::before,
input[id$="_3_o"]:checked ~ .playing-field #cell_3::before,
input[id$="_4_o"]:checked ~ .playing-field #cell_4::before,
input[id$="_5_o"]:checked ~ .playing-field #cell_5::before,
input[id$="_6_o"]:checked ~ .playing-field #cell_6::before,
input[id$="_7_o"]:checked ~ .playing-field #cell_7::before,
input[id$="_8_o"]:checked ~ .playing-field #cell_8::before,
input[id$="_9_o"]:checked ~ .playing-field #cell_9::before {
    content: "O";
    color: #8c8d45;
}

label[for$="_x"] {
    z-index: 1; 
}

input:checked ~ 
.playing-field label[for$="_o"],
input:checked ~ 
input:checked ~ 
input:checked ~ 
.playing-field label[for$="_o"],
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
.playing-field label[for$="_o"],
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
.playing-field label[for$="_o"] {
    z-index: 2;
}

input:checked ~ 
input:checked ~ 
.playing-field label[for$="_o"],
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
.playing-field label[for$="_o"],
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
.playing-field label[for$="_o"],
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
.playing-field label[for$="_o"] {
    z-index: 0;
}

input[id*=_1_]:checked ~ .playing-field #cell_1 label,
input[id*=_2_]:checked ~ .playing-field #cell_2 label,
input[id*=_3_]:checked ~ .playing-field #cell_3 label,
input[id*=_4_]:checked ~ .playing-field #cell_4 label,
input[id*=_5_]:checked ~ .playing-field #cell_5 label,
input[id*=_6_]:checked ~ .playing-field #cell_6 label,
input[id*=_7_]:checked ~ .playing-field #cell_7 label,
input[id*=_8_]:checked ~ .playing-field #cell_8 label,
input[id*=_9_]:checked ~ .playing-field #cell_9 label {
    display: none;
}

.modal__overlay {
    position: absolute;
    z-index: 3;

    display: none;
    width: 100%;
    height: 100%;

    background-color: black;
    opacity: .3;
}

input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
.modal .modal__overlay, 
input[id$=_1_x]:checked ~ 
input[id$=_4_x]:checked ~ 
input[id$=_7_x]:checked ~ .modal .modal__overlay, 
input[id$=_2_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_8_x]:checked ~ .modal .modal__overlay, 
input[id$=_3_x]:checked ~ 
input[id$=_6_x]:checked ~ 
input[id$=_9_x]:checked ~ .modal .modal__overlay, 
input[id$=_1_x]:checked ~ 
input[id$=_2_x]:checked ~ 
input[id$=_3_x]:checked ~ .modal .modal__overlay, 
input[id$=_4_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_6_x]:checked ~ .modal .modal__overlay, 
input[id$=_7_x]:checked ~ 
input[id$=_8_x]:checked ~ 
input[id$=_9_x]:checked ~ .modal .modal__overlay, 
input[id$=_3_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_7_x]:checked ~ .modal .modal__overlay,
input[id$=_1_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_9_x]:checked ~ .modal .modal__overlay,
input[id$=_1_o]:checked ~ 
input[id$=_4_o]:checked ~ 
input[id$=_7_o]:checked ~ .modal .modal__overlay, 
input[id$=_2_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_8_o]:checked ~ .modal .modal__overlay, 
input[id$=_3_o]:checked ~ 
input[id$=_6_o]:checked ~ 
input[id$=_9_o]:checked ~ .modal .modal__overlay, 
input[id$=_1_o]:checked ~ 
input[id$=_2_o]:checked ~ 
input[id$=_3_o]:checked ~ .modal .modal__overlay, 
input[id$=_4_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_6_o]:checked ~ .modal .modal__overlay, 
input[id$=_7_o]:checked ~ 
input[id$=_8_o]:checked ~ 
input[id$=_9_o]:checked ~ .modal .modal__overlay, 
input[id$=_3_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_7_o]:checked ~ .modal .modal__overlay,
input[id$=_1_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_9_o]:checked ~ .modal .modal__overlay {
    display: block;
}

input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
.playing-field, 
input[id$=_1_x]:checked ~ 
input[id$=_4_x]:checked ~ 
input[id$=_7_x]:checked ~ .playing-field, 
input[id$=_2_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_8_x]:checked ~ .playing-field, 
input[id$=_3_x]:checked ~ 
input[id$=_6_x]:checked ~ 
input[id$=_9_x]:checked ~ .playing-field, 
input[id$=_1_x]:checked ~ 
input[id$=_2_x]:checked ~ 
input[id$=_3_x]:checked ~ .playing-field, 
input[id$=_4_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_6_x]:checked ~ .playing-field, 
input[id$=_7_x]:checked ~ 
input[id$=_8_x]:checked ~ 
input[id$=_9_x]:checked ~ .playing-field, 
input[id$=_3_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_7_x]:checked ~ .playing-field,
input[id$=_1_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_9_x]:checked ~ .playing-field,
input[id$=_1_o]:checked ~ 
input[id$=_4_o]:checked ~ 
input[id$=_7_o]:checked ~ .playing-field, 
input[id$=_2_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_8_o]:checked ~ .playing-field, 
input[id$=_3_o]:checked ~ 
input[id$=_6_o]:checked ~ 
input[id$=_9_o]:checked ~ .playing-field, 
input[id$=_1_o]:checked ~ 
input[id$=_2_o]:checked ~ 
input[id$=_3_o]:checked ~ .playing-field, 
input[id$=_4_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_6_o]:checked ~ .playing-field, 
input[id$=_7_o]:checked ~ 
input[id$=_8_o]:checked ~ 
input[id$=_9_o]:checked ~ .playing-field, 
input[id$=_3_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_7_o]:checked ~ .playing-field,
input[id$=_1_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_9_o]:checked ~ .playing-field {
    -webkit-filter: blur(4px);
            filter: blur(4px);
}

.game-over__message {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;

    display: none; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;

    width: 300px;
    height: 260px;
    margin: auto;
}

.game-over__message span {
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    color: white;
    opacity: .8;
}

.game-over__message input {
    display: block;
    padding: .5em;
    border: 0px;
    border-radius: 30px;
    font-size: 32pt;
    background-color: #8b8b8b;
    color: white;
    -webkit-box-shadow: 0 0 25px 0 white inset;
            box-shadow: 0 0 25px 0 white inset;
    outline: none;
    cursor: pointer;
}

.game-over__message input:hover {
    background-color: #585858;
    color: #cfcece;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#message::before {
    content: "Draw";
}

input[id$=_1_x]:checked ~ 
input[id$=_4_x]:checked ~ 
input[id$=_7_x]:checked ~ .game-over #message::before, 
input[id$=_2_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_8_x]:checked ~ .game-over #message::before,
input[id$=_3_x]:checked ~ 
input[id$=_6_x]:checked ~ 
input[id$=_9_x]:checked ~ .game-over #message::before, 
input[id$=_1_x]:checked ~ 
input[id$=_2_x]:checked ~ 
input[id$=_3_x]:checked ~ .game-over #message::before, 
input[id$=_4_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_6_x]:checked ~ .game-over #message::before, 
input[id$=_7_x]:checked ~ 
input[id$=_8_x]:checked ~ 
input[id$=_9_x]:checked ~ .game-over #message::before, 
input[id$=_3_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_7_x]:checked ~ .game-over #message::before,
input[id$=_1_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_9_x]:checked ~ .game-over #message::before {
    content: "Player 1 wins";
}

input[id$=_1_o]:checked ~ 
input[id$=_4_o]:checked ~ 
input[id$=_7_o]:checked ~ .game-over #message::before, 
input[id$=_2_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_8_o]:checked ~ .game-over #message::before, 
input[id$=_3_o]:checked ~ 
input[id$=_6_o]:checked ~ 
input[id$=_9_o]:checked ~ .game-over #message::before, 
input[id$=_1_o]:checked ~ 
input[id$=_2_o]:checked ~ 
input[id$=_3_o]:checked ~ .game-over #message::before, 
input[id$=_4_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_6_o]:checked ~ .game-over #message::before, 
input[id$=_7_o]:checked ~ 
input[id$=_8_o]:checked ~ 
input[id$=_9_o]:checked ~ .game-over #message::before, 
input[id$=_3_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_7_o]:checked ~ .game-over #message::before,
input[id$=_1_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_9_o]:checked ~ .game-over #message::before {
    content: "Player 2 wins";
}

input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
input:checked ~ 
.game-over .game-over__message,
input[id$=_1_x]:checked ~ 
input[id$=_4_x]:checked ~ 
input[id$=_7_x]:checked ~ .game-over .game-over__message, 
input[id$=_2_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_8_x]:checked ~ .game-over .game-over__message, 
input[id$=_3_x]:checked ~ 
input[id$=_6_x]:checked ~ 
input[id$=_9_x]:checked ~ .game-over .game-over__message, 
input[id$=_1_x]:checked ~ 
input[id$=_2_x]:checked ~ 
input[id$=_3_x]:checked ~ .game-over .game-over__message, 
input[id$=_4_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_6_x]:checked ~ .game-over .game-over__message, 
input[id$=_7_x]:checked ~ 
input[id$=_8_x]:checked ~ 
input[id$=_9_x]:checked ~ .game-over .game-over__message, 
input[id$=_3_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_7_x]:checked ~ .game-over .game-over__message,
input[id$=_1_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_9_x]:checked ~ .game-over .game-over__message,
input[id$=_1_o]:checked ~ 
input[id$=_4_o]:checked ~ 
input[id$=_7_o]:checked ~ .game-over .game-over__message, 
input[id$=_2_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_8_o]:checked ~ .game-over .game-over__message, 
input[id$=_3_o]:checked ~ 
input[id$=_6_o]:checked ~ 
input[id$=_9_o]:checked ~ .game-over .game-over__message, 
input[id$=_1_o]:checked ~ 
input[id$=_2_o]:checked ~ 
input[id$=_3_o]:checked ~ .game-over .game-over__message, 
input[id$=_4_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_6_o]:checked ~ .game-over .game-over__message, 
input[id$=_7_o]:checked ~ 
input[id$=_8_o]:checked ~ 
input[id$=_9_o]:checked ~ .game-over .game-over__message, 
input[id$=_3_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_7_o]:checked ~ .game-over .game-over__message,
input[id$=_1_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_9_o]:checked ~ .game-over .game-over__message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.Donat {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.Donat a {
    margin: 10px;
    font-size: 14pt;
    text-decoration: none;

    color: #7a7a7a;
}

.Donat a:hover {
    opacity: .7;
}