* {
	margin: 0em; 
	padding: 0; 
}

aside {
	display: grid;
	grid-template: 1fr 400px 1fr / 1fr 400px 1fr; 
	grid-gap: .5em;
    height: 100vh;
}

aside > div {
	grid-area: 2 / 2; 
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	background-color: white;
	grid-gap: .5em; 
    background-color: #a8a8a8;
}

aside > div > div {
	background-color: white;
}
