input[id^="cell"]:checked ~ 
.playing-field label[for$="_o"],
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
.playing-field label[for$="_o"],
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
.playing-field label[for$="_o"],
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
.playing-field label[for$="_o"] {
    z-index: 2;
}

input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
.playing-field label[for$="_o"],
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
.playing-field label[for$="_o"],
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
.playing-field label[for$="_o"],
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
input[id^="cell"]:checked ~ 
.playing-field label[for$="_o"] {
    z-index: 0;
}

input[id$="_1_o"]:checked ~ .playing-field #cell_1::before,
input[id$="_2_o"]:checked ~ .playing-field #cell_2::before,
input[id$="_3_o"]:checked ~ .playing-field #cell_3::before,
input[id$="_4_o"]:checked ~ .playing-field #cell_4::before,
input[id$="_5_o"]:checked ~ .playing-field #cell_5::before,
input[id$="_6_o"]:checked ~ .playing-field #cell_6::before,
input[id$="_7_o"]:checked ~ .playing-field #cell_7::before,
input[id$="_8_o"]:checked ~ .playing-field #cell_8::before,
input[id$="_9_o"]:checked ~ .playing-field #cell_9::before {
    content: "O";
    color: #8c8d45;
}

input[id$=_1_x]:checked ~ 
input[id$=_4_x]:checked ~ 
input[id$=_7_x]:checked ~ .game-over #message::before, 
input[id$=_2_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_8_x]:checked ~ .game-over #message::before,
input[id$=_3_x]:checked ~ 
input[id$=_6_x]:checked ~ 
input[id$=_9_x]:checked ~ .game-over #message::before, 
input[id$=_1_x]:checked ~ 
input[id$=_2_x]:checked ~ 
input[id$=_3_x]:checked ~ .game-over #message::before, 
input[id$=_4_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_6_x]:checked ~ .game-over #message::before, 
input[id$=_7_x]:checked ~ 
input[id$=_8_x]:checked ~ 
input[id$=_9_x]:checked ~ .game-over #message::before, 
input[id$=_3_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_7_x]:checked ~ .game-over #message::before,
input[id$=_1_x]:checked ~ 
input[id$=_5_x]:checked ~ 
input[id$=_9_x]:checked ~ .game-over #message::before {
    content: "Player 1 wins";
}

input[id$=_1_o]:checked ~ 
input[id$=_4_o]:checked ~ 
input[id$=_7_o]:checked ~ .game-over #message::before, 
input[id$=_2_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_8_o]:checked ~ .game-over #message::before, 
input[id$=_3_o]:checked ~ 
input[id$=_6_o]:checked ~ 
input[id$=_9_o]:checked ~ .game-over #message::before, 
input[id$=_1_o]:checked ~ 
input[id$=_2_o]:checked ~ 
input[id$=_3_o]:checked ~ .game-over #message::before, 
input[id$=_4_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_6_o]:checked ~ .game-over #message::before, 
input[id$=_7_o]:checked ~ 
input[id$=_8_o]:checked ~ 
input[id$=_9_o]:checked ~ .game-over #message::before, 
input[id$=_3_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_7_o]:checked ~ .game-over #message::before,
input[id$=_1_o]:checked ~ 
input[id$=_5_o]:checked ~ 
input[id$=_9_o]:checked ~ .game-over #message::before {
    content: "Player 2 wins";
}